@charset "UTF-8";

*{
    margin: 0px;
    padding: 0px;
}
body{
    width: 100%;
    display: flex;
    justify-content: center;
}
#dvJogo{
    width: 220px;
    height: 160px;
    display: flex;
    flex-wrap: wrap;
    align-content: flex-start;
    justify-content: center;
    align-items: center;
}

.posJogo{
    width: 60px;
    height: 50px;
    cursor: pointer;
    display: flex;
    padding: 0px;
    margin: 0px;
    
}
#dvmenu{
    margin-top: 5%;

}
#p1{
    border-right: 1px solid black;
    border-bottom: 1px solid black;
}
#p2{
    border-right: 1px solid black;
    border-left: 1px solid black;
    border-bottom: 1px solid black;
}
#p3{
    border-left: 1px solid black;
    border-bottom: 1px solid black;
}
#p4{
    border-right: 1px solid black;
    border-bottom: 1px solid black;
    border-top: 1px solid black;
}
#p5{
  border: 1px solid black;
}
#p6{
    border-left: 1px solid black;
    border-bottom: 1px solid black;
    border-top: 1px solid black;
}
#p7{
    border-right: 1px solid black;
    border-top: 1px solid black;
}
#p8{
    border-right: 1px solid black;
    border-top: 1px solid black;
    border-left: 1px solid black;
}
#p9{
    border-left: 1px solid black;
    border-top: 1px solid black;
}
